@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Poppins', sans-serif;

	--window-border-radius: 0.375rem;
}

input {
	border: none;
	outline: none;
}

.long-transition {
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
